body,
html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  height: 100%;
}

:root {
  --light-bg: #f9faf8;
  --dark-blue-bg: #101828;
  --light-navy: #023047;

  /* Copied from The Odin Project */
  --color-gray-50: oklch(98.5% 0.002 247.839);
  --color-gray-100: oklch(96.7% 0.003 264.542);
  --color-gray-200: oklch(92.8% 0.006 264.531);
  --color-gray-300: oklch(87.2% 0.01 258.338);
  --color-gray-400: oklch(70.7% 0.022 261.325);
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-700: oklch(37.3% 0.034 259.733);
  --color-gray-800: oklch(27.8% 0.033 256.848);
  --color-gray-900: oklch(21% 0.034 264.665);
  --custom-orange: #fca311;
}

body {
  background-color: var(--dark-blue-bg);
  color: var(--color-gray-100);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* .dark-mode {
    background-color: var(--dark-blue-bg);
    color: var(--color-gray-300)
} */

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
  background-color: var(--light-navy);
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

h1.title {
  font-size: 2.25rem;
  margin: 0;
  text-shadow: 0 6px 10px rgb(255, 255, 255, 0.1);
}

button.new-book {
  all: unset;
  background-color: var(--custom-orange);
  color: var(--color-gray-100);
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1.25rem;
  font-weight: 700;
  transition: 0.2s ease;
}

button.new-book:hover,
button.delete-button:hover,
button.read-button:hover {
  cursor: pointer;
  background-color: #6c757d;
  color: var(--color-gray-100);
  box-shadow: 0 4px 8px rgb(255, 255, 255, 0.1);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  gap: 3rem;
}

.library {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-column: 1;
  grid-row: 1/-1;
  gap: 2rem;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  /* place-items: center; */
}

/* CARDS */
.card {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--light-navy);
  color: var(--color-gray-300);
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
  border-left: 1rem solid var(--custom-orange);
  transition: all 0.2s ease;
  align-self: start;
 
}
.card:hover {
  box-shadow: 0 4px 8px rgb(255, 255, 255, 0.1);
  border-radius: 1rem;
}

.bold {
  font-weight: 600;
  font-size: 1.125rem;
}
.card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
}
.card-text p {
  margin: 0;
}

.delete-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.delete-button {
  all: unset;
  background-color: rgb(209, 44, 44);
  padding: 0.5em 1em;
  color: white;
  font-size: 1em;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
}

.read-button {
  all: unset;
  background-color: rgb(7, 90, 17);
  padding: 0.5em 1em;
  color: white;
  font-size: 1em;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
}
/* END OF CARDS */

/* BOOK FORM */

form {
  width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  align-self: start;
  justify-self: center;
}

.book-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 3rem;
  grid-column: 2;
  background-color: var(--light-navy);
  padding: 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgb(255, 255, 255, 0.1);
}
@media (max-width: 800px) {
  .book-form {
    grid-template-columns: 1fr;
  }
  .main-container {
    grid-template-columns: 1fr;
  }
}

.form-group {
  display: grid;
  gap: 01cap;
}

.book-form h1 {
  grid-column: 1/-1;
  margin: 0;
  text-align: center;
}
label {
  padding: 0 1rem;
}
.form-group input[type="text"],
input[type="number"] {
  all: unset;
  background-color: var(--color-gray-800);
  height: 2.5rem;
  border-radius: 1rem;
  padding: 0 1rem;
  border: 1px solid var(--dark-blue-bg);
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.double-radio {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
  accent-color: var(--custom-orange);
  align-items: center;
  justify-self: center;
}
/* END OF BOOK FORM */

.footer {
  text-align: center;
  padding: 1em 0;
  color: var(--color-gray-100);
  background-color: var(--light-navy);
  box-shadow: 0 -4px 8px rgb(0, 0, 0, 0.1);
}

.footer a {
  all: unset;
  cursor: pointer;
}
